@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Holtwood+One+SC&family=Lilex:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Holtwood+One+SC&family=Pompiere&family=Style+Script&display=swap');
:root {
    --fonte1:"Holtwood One SC", serif;
    --fonte2:  "Edu NSW ACT Cursive", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top:50px;
    font-variant: small-caps;
    font-family:var(--fonte1) ;
    font-size: 5vw;
}
header > p {
   padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight:bolder ;
}
a > :hover {
    text-decoration:underline ;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 15px;
    font-family:var(--fonte2);
    font-size:25px;
}
section.normal {
    background-color: #edeaea;    
}
section.imagem {
    background-color: rgb(38, 35, 35);
    color: white;
    height: 300px;
}
section.imagem > p {
    display: inline-block;
    padding-left: 5px;
    background-color: rgba(21, 20, 20, 0.532);
}
section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 90px;
}
section#img02 {
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 90px;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}